.intro {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	.title {
		font-size: 4rem;
		position: relative;

		&::before {
			content: '💣';
			position: absolute;
			text-shadow: 0 0 20px #719FAC;
			bottom: 100%; left: 50%;
			width: 100px;
			margin-left: -50px;
		}
	}

	.controls {
		margin-top: 1rem;

		.or {
			font-size: 1.6rem;
			margin: 0 1.5rem;
		}
	}

	&.game-state-leave {
		position: absolute;
		top: 0; left: 0;
		height: 100%; width: 100%;

		transition: 500ms ease;

		.intro-content {
			transition: 500ms ease;
			opacity: 1;
		}
	}

	&.game-state-leave-active {
		left: -100vw;

		.intro-content {
			opacity: 0;
		}
	}
}