@import '../../vars';

.intro {
	$duration: 200ms;

	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	.title {
		font-size: 4rem;
		position: relative;
		transition: $duration ease-out;
		opacity: 1;

		&::before {
			content: '💣';
			position: absolute;
			text-shadow: 0 0 1.4rem $primaryColor;
			bottom: 100%; left: 50%;
			width: 100px;
			margin-left: -50px;
			transition: $duration ease-out;
			transition-delay: 200ms;
			opacity: 1;
			top: -70px;
		}
	}

	.controls {
		margin-top: 1rem;
		opacity: 1;
		transition: 750ms ease-out;
		transition-delay: 450ms;

		.or {
			font-size: 1.6rem;
			margin: 0 1.5rem;
		}
	}

	&.game-state-appear {
		.title {
			opacity: 0;

			&::before {
				opacity: 0;
				margin-top: -200px;
			}
		}

		.controls {
			opacity: 0;
		}
	}

	&.game-state-leave {
		position: absolute;
		top: 0; left: 0;
		height: 100%; width: 100%;

		transition: 500ms ease;

		.intro-content {
			transition: 500ms ease;
			opacity: 1;
		}
	}

	&.game-state-leave-active {
		left: -100vw;

		.intro-content {
			opacity: 0;
		}
	}
}