@import url('https://fonts.googleapis.com/css?family=Slabo+13px');
@import 'vars';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background: $backgroundColor;
	color: $primaryColor;
}

body,
input {
	font-family: 'Slabo 13px';
}

.app {
	position: relative;
	height: 100vh;
}

a {
	color: $secondaryColor;
	position: relative;
	text-decoration: none;

	&::before {
		content: '';
		background: $secondaryColor;
		position: absolute;
		left: 50%; right: 50%; bottom: 0;
		height: 1px;
		transition: 250ms ease-out;
	}

	&:hover,
	&:active {
		&::before {
			left: 0; right: 0;
		}
	}
}